/* Name : Anup Thapa 
Project : waffle marker*/

/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}
.container {
  width: 80%;
  margin: 0 auto;
}

/* Style rules for Header */
header {
  background-color: #F2BFA4;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

/* Style rules for Navigation */
nav {
  background-color: #F15B42;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #F5E7DE;
}

/* Style rules for Main Section */
main {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #0f0f0f;
}

/* Style rules for top header*/
.top-header { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

/* Style rules for specails*/
.container-specails {
  display: flex;

}
.section-specails {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.index-container {
  display: flex;
}
.section-index {
  margin: 20px;
  padding: 10px;
}
/* Style rules for Footer */
footer {
    background: #8B4513;
    font-size: 0.8em;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.headerimg {
  padding: 10px;
  margin-right: 461px;
}

/*  Style rules for SLIDER CONTAINER */
.slider {
  width: 1258px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

/*  Style rules for SLIDES */
.slides {
  width: 300%;
  height: 100%;
  display: flex;
}

/* hide radio buttons */
.slides input {
  display: none;
}

/*  Style rules for each slide width = 100% */
.slide {
  width: 100%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.manual-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 15px;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 8px;
  transition: 0.3s;
}

.manual-btn:hover {
  background: white;
}

/* Style rules for MOVE SLIDES WHEN RADIO BUTTON CHECKED */
#slide1:checked ~ .first {
  margin-left: 0;
}
#slide2:checked ~ .first {
  margin-left: -100%;
}
#slide3:checked ~ .first {
  margin-left: -200%;
}

.section-index  :hover {
  transform: translateY(-10px);
  border: 3px solid #F2BFA4;
}

